 h1 {
    border: 2px #eee solid;
    color: green;
    text-align: left;
    padding: 10px;
}

.download-btn {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.download-btn:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

th, td {
    padding: 8px;
}