{% extends 'bootstrap/base.html' %}
{% block style%}
	{{super()}}
	<link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/cover/">
	<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	<link href="cover.css" rel="stylesheet">
	<script src="../../assets/js/ie-emulation-modes-warning.js"></script>
{% endblock %}

 {% block navbar %}
	<nav class="navbar navbar-inverse ">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ url_for('index') }}">
				<img src="https://raw.githubusercontent.com/Mariaojruiz/Sibling-Rewiring/main/Environment/sire/templates/App_images/Logo.PNG" alt="Sire" style="width60px;height:30px;">
			</a>
		</div>
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="{{ url_for('index') }}">Sire</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Menú <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="{{ url_for('index') }}">Inicio</a></li>
				<li><a href="https://github.com/Mariaojruiz/Sibling-Rewiring">Repositorio</a></li>
				<li><a href="{{ url_for('aboutapp') }}">Acerca De Sire</a></li>
				<li><a href="https://github.com/Mariaojruiz/Sibling-Rewiring/wiki">Wiki</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="{{ url_for('login')}}">Login</a></li>
			  </ul>
			</li>
		  </ul>
		</div>
	  </div>
	</nav>
{% endblock %}
	
  
{% block content %} 
	<div class="container">
		<center>
			<left>
				<img src="https://raw.githubusercontent.com/Mariaojruiz/Sibling-Rewiring/main/Environment/sire/templates/App_images/Ubu.PNG" alt="Universidad de Burgos">
			</left>
			<right>
				<img src="https://raw.githubusercontent.com/Mariaojruiz/Sibling-Rewiring/main/Environment/sire/templates/App_images/Ingenier%C3%ADa%20inform%C3%A1tica.PNG" alt="Escuela Politecnica Superior" >
			</right>
		</center>
		
		<h1>¿Qué es Sire?</h1>
		<p>Sire es una aplicación desarrollada como Trabajo de Fin de Grado para la Universidad de Burgos,
		destinada a disminuir los contagios en los centros educativos. Trabajando con una especie de grupos
		burbuja que tienen en cuenta las relaciones de hermanos.</p>
		
		<h1>¿Quién ha trabajado en este proyecto?</h1>
		<p>Este proyecto se ha llevado a cabo por la alumna de ingeniería informática María Ojeda Ruiz, gracias
		a una idea de José Manuel Galán Ordax, quien ha sido tutor del mismo junto a Virginia Ahedo García. </p>
		
		<h1>¿Cómo funciona SIRE?</h1>
		<p>Se crea o se introduce una red relativa a todo el colegio</p>
		<p><img src="https://raw.githubusercontent.com/Mariaojruiz/Sibling-Rewiring/main/Environment/sire/templates/App_images/inicial.png" alt="Universidad de Burgos" width=350 height=350>
			En esta cada nodo a qué clase, curso y etapa pertence cada uno. Las relaciones son pertenencia a misma clase o hermano. <br>
			A través de la red anterior creamos esta, donde los nodos son clases y se relacionan si hay hermanos.
			<img src="https://raw.githubusercontent.com/Mariaojruiz/Sibling-Rewiring/main/Environment/sire/templates/App_images/schyear_class.png" alt="Universidad de Burgos" width=350 height=250>
			<br>
			Una vez tenemos esta red, trabajamos con ella, buscando minimizar el riesgo individual y el riesgo por grupo. Una vez encontramos la mejor solución, se la mostramos al usuario.
			<br> <br> <br> <br> <br> <br>
		</p>
	</div>
	
{% endblock %}
	
