{% include 'base_styles.html' %}

{% include 'navbar1.html' %}
	 
{% block content %} 
	<div class="container">
		<center>
			<left>
				<img src="https://raw.githubusercontent.com/Mariaojruiz/Sibling-Rewiring/main/Environment/sire/templates/App_images/Ubu.PNG" alt="Universidad de Burgos">
			</left>
			<right>
				<img src="https://raw.githubusercontent.com/Mariaojruiz/Sibling-Rewiring/main/Environment/sire/templates/App_images/Ingenier%C3%ADa%20inform%C3%A1tica.PNG" alt="Escuela Politecnica Superior" >
			</right>
		</center>
		
		<h1>¿Qué es Sire?</h1>
		<p>Sire es una aplicación desarrollada como Trabajo de Fin de Grado para la Universidad de Burgos,
		destinada a disminuir los contagios en los centros educativos. Trabajando con una especie de grupos
		burbuja que tienen en cuenta las relaciones de hermanos.</p>
		
		<h1>¿Quién ha trabajado en este proyecto?</h1>
		<p>Este proyecto se ha llevado a cabo por la alumna de ingeniería informática María Ojeda Ruiz, gracias
		a una idea de José Manuel Galán Ordax, quien ha sido tutor del mismo junto a Virginia Ahedo García. </p>
		
		<h1>¿Cómo funciona SIRE?</h1>
		<p>Se crea o se introduce una red relativa a todo el colegio</p>
		<p><img src="https://raw.githubusercontent.com/Mariaojruiz/Sibling-Rewiring/main/Environment/sire/templates/App_images/inicial.png" alt="Universidad de Burgos" width=350 height=350>
			En esta cada nodo a qué clase, curso y etapa pertence cada uno. Las relaciones son pertenencia a misma clase o hermano. <br>
			A través de la red anterior creamos esta, donde los nodos son clases y se relacionan si hay hermanos.
			<img src="https://raw.githubusercontent.com/Mariaojruiz/Sibling-Rewiring/main/Environment/sire/templates/App_images/schyear_class.png" alt="Universidad de Burgos" width=350 height=250>
			<br>
			Una vez tenemos esta red, trabajamos con ella, buscando minimizar el riesgo individual y el riesgo por grupo. Una vez encontramos la mejor solución, se la mostramos al usuario.
			<br> <br> <br> <br> <br> <br>
		</p>
	</div>
	
{% endblock %}
	
