{% include 'base_styles.html' %}

{% include 'navbar3.html' %}

{% block content %}
<head>
  <title>DESCARGA DE ARCHIVO RESULTANTE</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
 </head>
 
<body class="body">
	<div class="container">
		<h1>Descarga archivo</h1>
		<h4>Se descargará el último grafo creado</h4>
		<a href="{{ url_for('download')}}"><button type="submit" class="btn btn-primary btn-lg" style='width:400px; height:450px; background-color:black' align='center' onclick="{{ url_for('upload_form')}}">
        Descarga</button></a>
	</div>
	<br> <br> <br>
</body>
{% endblock %}