{% include 'base_styles.html' %}

{% include 'navbar3.html' %}
	
  
{% block content %} 
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
</head>

<body>
    <div class="container aling-items: center; justify-content: center">
        
		<h1>Seleccione la opción deseada</h1>
			 <h4>Seleccionando las opciones por defecto los valores son preestablecidos por el programa</h4>
				
			  <h4>En las opciones avanzadas se escogerán los valores necesarios para hallar la solución: </h4>
				 <h6>&nbsp&nbsp -- Del recocido simulado</h6>
				 <h6>&nbsp&nbsp -- De la secuencia de enfriamiento </h6>
			
			
			<p>
					{% with messages = get_flashed_messages() %}
					  {% if messages %}
						<ul class=flashes>
						{% for message in messages %}
						  <li>{{ message }}</li>
						{% endfor %}
						</ul>
					  {% endif %}
					{% endwith %}
				</p>
			
			<form action="{{ url_for('pick_option') }}"  method="post">
				<input type="radio" name="options" id="default" value="default"> Opciones por defecto </input><br>
				
				<input type="radio" name="options" id="advanced" value="advanced"> Opciones avanzadas </input><br>
			<br>
			
			<p><button type="submit" class="btn btn-primary btn-lg" style='width:300px; height:50px; background-color:black' align='center' >
					CONTINUAR</button></a>
			</form>
		</div> 
		
    </div>
</body>
{% endblock %}