{% include 'base_styles.html' %}

{% include 'navbar3.html' %}
	
  
{% block content %} 
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
</head>

<body>
    <div class="container aling-items: center; justify-content: center">
        
		<h2>SELECCIONE LA OPCIÓN DESEADA</h2>
		<h4>Puede crearse una red aleatoria o subir ficheros que contengan una red para trabajar</h4>
		<h6>Si selecciona la opción aleatorio creará una red con valores aleatorios y si escoge usando fichero necesitará subir un fichero que contenga la red incial y un excel con las relaciones de hermanos</h6>
		<div class="btn-group" style="text-align: center;">
		      
			<p><a href="{{ url_for('show_introduce_data')}}"><button type="submit" class="btn btn-primary btn-lg"  style='width:300px; height:300px; background-color:black' align='center' >
        ALEATORIO</button></a> 
		
			<a href="{{ url_for('upload_form')}}"><button type="submit" class="btn btn-primary btn-lg" style='width:300px; height:300px; background-color:black' align='center'> 
			USANDO FICHERO</button> </a></p> 
			  
		</div> 
    </div>
</body>
{% endblock %}