{% extends 'bootstrap/base.html' %}
{% block styles %}
	{{super()}}
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-inverse ">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="{{ url_for('show_user_home')}}">Sire</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="{{ url_for('upload_form')}}">Subida Archivo</a></li>
			<li><a href="{{ url_for('show_download')}}">Descarga</a></li>
			<li><a href="{{ url_for('logout')}}">Desconectar</a></li>
		  </ul>
		</div>
	  </div>
	</nav>
{% endblock %}

{% block content %} 
<head>
<meta charset="utf-8">
	<title>MOSTRAMOS LA RED</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
	<div class="container">
		<div class="form">
			<h1>Se muestra la red de clases y hermanos</h1>

			<img src={{ name }}  height="42" width="42">
			
			<a href="{{ url_for('show_random_advanced')}}"><button type="submit" class="btn btn-primary btn-lg" style='width:400px; height:450px' align='center' >
        CONTINUAR</button></a> 
			
		</div>
	</div>
</body>
{% endblock %}