{% include 'base_styles.html' %}

{% include 'navbar3.html' %}

{% block content %} 
	<head>
		<meta charset="utf-8">
		<title>Subida de Archivos</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
	</head>
	
	<body>
		<div class="container">
			<div class="Upload File">
				<h1>Selecciona el archivo para subir</h1>
				<h4>Debe introducir un fichero '.gexf' que contenga la red inicial del colegio y un '.xlxs' que contenga la relación de hermanos.</h4>
				<p>
					{% with messages = get_flashed_messages() %}
					  {% if messages %}
						<ul class=flashes>
						{% for message in messages %}
						  <li>{{ message }}</li>
						{% endfor %}
						</ul>
					  {% endif %}
					{% endwith %}
				</p>
				
				<form method="post" enctype="multipart/form-data">
				  <input type="file" name="files[]" multiple="true" autocomplete="off" required>
				  <input type=submit value=Subir>
				</form>
			</div>
		</div>
    </body>
{% endblock %}