{% extends 'bootstrap/base.html' %}
{% block style%}
	{{super()}}
	<link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/cover/">
	<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	<link href="cover.css" rel="stylesheet">
	<script src="../../assets/js/ie-emulation-modes-warning.js"></script>
{% endblock %}

 {% block navbar %}
	<nav class="navbar navbar-inverse ">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="{{ url_for('show_user_home')}}">Sire</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="{{ url_for('show_introduce_data')}}">Red Aleatoria</a></li>
			<li><a href="{{ url_for('upload_form')}}">Subida Archivo</a></li>
			<li><a href="{{ url_for('show_download')}}">Descarga</a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Menú <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="#">Repositorio</a></li>
				<li><a href="#">Acerca De Sire</a></li>
				<li><a href="#">Wiki - Manual Usuario</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="{{ url_for('logout')}}">Desconectar</a></li>
		  </ul>
		</div>
	  </div>
	</nav>
{% endblock %}
	
  
{% block content %} 
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
</head>

<body>
    <div class="container center-h center-v">
        
		<h1>SIRE</h1>
		<h4>Existen dos opciones:
		Comenzar a trabajar con la red o mostrar antiguos resultados</h4>
		<div class="btn-group" style="text-align: center;">
		      
			<p><a href="{{ url_for('show_selection_page')}}"><button type="submit" class="btn btn-primary btn-lg" style='width:400px; height:450px; background-color:black' align='center' onclick="{{ url_for('upload_form')}}">
        COMIENZA A REORGANIZAR</button></a> 
		
			<a href="{{ url_for('show_download')}}"><button type="submit" class="btn btn-primary btn-lg" style='width:400px; height:450px; background-color:black' align='center'> 
			VISUALIZA TUS DATOS</button> </a></p> 
			  
		</div> 
    </div>
</body>
{% endblock %}	
 